.env
.vscode/


# Dependencies
/node_modules

# Build
/build

# Logs
*.log

# Local env files
.env
.env.development.local
.env.test.local
.env.production.local

# npm
package-lock.json
pnpm-lock.yaml
yarn-error.log

# Misc
.DS_Store
*.tgz
*.gz
*.zip
